@CHARSET "UTF-8";
.textbox{
	height:30px;
	margin:0;
	padding:0 4px;
	box-sizing:content-box;
}
.size10{
	font-size: 10px;
}
.size12{
	font-size: 12px;
}
.size14{
	font-size: 14px;
}
.size16{
	font-size: 16px;
}
.size18{
	font-size: 18px;
}
.size20{
	font-size: 20px;
}
.size22{
	font-size: 22px;
}
.b{
	font-weight: bold;
}
.red{
	color:red;
}
.green{
	color:green;
}