{{$header}}
<body>
	<table id="dg" class="easyui-datagrid" title="滚动信息" style="width:100%;height:auto"
			data-options="
				rownumbers:true,singleSelect:true,pagination:true,pageSize:20,
				queryParams: {'action':'all'},
				iconCls: 'icon-save',
				toolbar: '#tb',
				url: '/ajax/message-nav.html',
				method: 'post',
				onClickRow: onClickRow
			">
		<thead>
			<tr>
				<th data-options="field:'content',width:500">内容</th>
				<th data-options="field:'username',width:150">添加人</th>
				<th data-options="field:'addtime_wz',width:150">添加时间</th>
			</tr>
		</thead>
	</table>
	<div id="tb" style="padding:2px 0">
		<table cellpadding="0" cellspacing="0" style="width:100%">
			<tr>
				<td style="padding-left:2px">
				{{if $is_add=='Y'}}
					<a href="javascript:void(0);" id="btn_add" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">添加</a>
				{{/if}}
				{{if $is_edit=='Y'}}
					<a href="javascript:void(0);" id="btn_edit" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true">编辑</a>
				{{/if}}
				{{if $is_del=='Y'}}
					<a href="javascript:void(0);" id="btn_remove" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true">删除</a>
				{{/if}}
				</td>
			</tr>
		</table>
	</div>
	<div id="dlg" class="easyui-dialog" title="滚动信息设置" style="width:400px;height:auto;padding:10px"
			data-options="
				iconCls: 'icon-edit',
				buttons: '#dlg-buttons'
			">
		<table cellpadding="5">
			<tr>
				<td>内容:</td>
				<td><input class="easyui-textbox" id="content" data-options="multiline:true" style="height:120px;width:300px"></input></td>
			</tr>
		</table>
	</div>
	<div id="dlg-buttons">
		<input type="hidden" id="id" value="0" />
		<a href="javascript:void(0)" class="easyui-linkbutton" id="btn_save">保存</a>
		<a href="javascript:void(0)" class="easyui-linkbutton" onclick="javascript:$('#dlg').dialog('close')">取消</a>
	</div>
<script type="text/javascript">
$(function(){
	$('#dlg').dialog('close');
	$('.validatebox-text').bind('blur', function(){
		$(this).validatebox('enableValidation').validatebox('validate');
	});
	$("#btn_save").click(function(){
		var content = $("#content").val();
		if(isEmptyVal(content)){
			message('输入信息内容','warning');
			return false;
		}
		var id = $("#id").val();
		$.ajax({   
	        type: 'POST', 
	        url: '/ajax/message-nav.html',   
	        data: {action:'save',id:id,content:content},
	        dataType:'json',
	        beforeSend:function(){   
	        	wait_open();    
	        },		    
	        complete: function() {   
	        	wait_close();
	        },     
	        success: function(data){
				if(data.result==true){	
					message('保存成功','info');
					$('#dlg').dialog('close');
					$('#dg').datagrid('reload');
				}else {
					message(data.msg,'error');
			    }               
	        }   
		});
	});
	$("#btn_add").click(function(){
		$("#id").val(0);
		$("#content").textbox('setValue',"");
		$('#dlg').dialog('open');
	});
	$("#btn_edit").click(function(){
		if (editIndex == undefined)return false;
		var row = $("#dg").datagrid("getSelected");
		var id = row.id;
		$.ajax({   
	        type: 'POST', 
	        url: '/ajax/message-nav.html',   
	        data: {action:'one',id:id},
	        dataType:'json',
	        beforeSend:function(){   
	        	wait_open();    
	        },		    
	        complete: function() {   
	        	wait_close();
	        } ,   
	        success: function(data){
				if(data.result==true){
					var data= data.data;
					$("#id").val(data.id);
					$("#content").textbox('setValue',data.content);
					$('#dlg').dialog('open');
				}else {
				    message('获取数据失败','warning');
			    }               
	        }   
		});
	});
	$("#btn_remove").click(function(){
		if (editIndex == undefined)return false;
		var row = $("#dg").datagrid("getSelected");
		var id = row.id;
		$.messager.confirm('删除确认', "是否确认删除此信息?", function(r){
			if (r){
				$.ajax({   
			        type: 'POST', 
			        url: '/ajax/message-nav.html',   
			        data: {action:'del',id:id},
			        dataType:'json',
			        beforeSend:function(){   
			        	wait_open(); 
			        },		    
			        complete: function() {   
			        	wait_close();
			        },   
			        success: function(data){
			        	if(data.result==true){
			        		deleteRow();
			        		message('删除成功','info');
			        		$('#dg').datagrid('reload');
						}else {
						    message(data.msg,'warning');
					    }               
			        }   
				});
			}
			return false;
		});
	});
})
</script>
</body>
</html>