{{$header}}
<body>
	<table id="dg" class="easyui-datagrid" title="会员列表" style="width:100%;height:auto"
			data-options="
				rownumbers:true,singleSelect:true,pagination:true,pageSize:20,
				queryParams: {'action':'all'},
				iconCls: 'icon-save',
				toolbar: '#tb',
				url: '/ajax/user-list.html',
				method: 'post',
				onClickRow: onClickRow
			">
		<thead>
			<tr>
				<th data-options="field:'username',width:100">登录帐号</th>
				<th data-options="field:'group_name',width:80">会员级别</th>
				<th data-options="field:'money',width:100">账户余额</th>
				<th data-options="field:'subordinatecount',width:100">直属下级人数</th>
				<th data-options="field:'truname',width:80">真实姓名</th>
				<th data-options="field:'phone',width:100">手机号码</th>
				<th data-options="field:'email',width:150">电子邮箱</th>
				<th data-options="field:'birth',width:100">生日</th>
				<th data-options="field:'firstmoney',width:100">首存金额</th>
				<th data-options="field:'firsttime',width:130">首存时间</th>
				<th data-options="field:'status_wz',width:40">状态</th>
				<th data-options="field:'registertime',width:130">注册时间</th>
				<th data-options="field:'logintime',width:130">最后登录时间</th>
			</tr>
		</thead>
	</table>
	<div id="tb" style="padding:2px 0">
		<table cellpadding="0" cellspacing="0" style="width:100%">
			<tr>
				<td style="padding-left:2px">
				{{if $is_add=='Y'}}
					<a href="javascript:void(0);" id="btn_add" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">添加</a>
				{{/if}}
				{{if $is_edit=='Y'}}
					<a href="javascript:void(0);" id="btn_edit" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true">编辑</a>
				{{/if}}
				{{if $is_del=='Y'}}
					<a href="javascript:void(0);" id="btn_remove" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true">删除</a>
				{{/if}}
				
				</td>
				<td style="text-align:right;padding-right:2px">
					<input id="search" class="easyui-searchbox" data-options="prompt:'输入会员帐号'" style="width:250px"></input>
				</td>
			</tr>
		</table>
	</div>
	<div id="dlg" class="easyui-dialog" title="设置会员" style="width:400px;height:auto;padding:10px"
			data-options="
				iconCls: 'icon-edit',
				buttons: '#dlg-buttons'
			">
		<table cellpadding="5">
			<tr>
				<td>登录帐号:</td>
				<td><input id="username" class="easyui-validatebox textbox" data-options="required:true,validType:'length[5,15]',novalidate:true"></td>
			</tr>
			<tr>
				<td>密码:</td>
				<td>
				<input id="password" type="password" class="easyui-validatebox textbox" data-options="novalidate:true">
				<span id="pass_msg"></span>
				</td>
			</tr>
			<tr>
				<td>密码确认:</td>
				<td><input id="cpassword" type="password" class="easyui-validatebox textbox" data-options="novalidate:true"></td>
			</tr>
			<tr>
				<td>真实姓名:</td>
				<td><input id="truname" class="easyui-validatebox textbox" data-options="required:true,novalidate:true"></td>
			</tr>
			<tr>
				<td>手机号码:</td>
				<td><input id="phone" class="easyui-validatebox textbox" data-options="required:true,novalidate:true"></td>
			</tr>
			<tr>
				<td>电子邮箱:</td>
				<td><input id="email" class="easyui-validatebox textbox" data-options="novalidate:true"></td>
			</tr>
			<tr>
				<td>生日:</td>
				<td><input id="birth" class="easyui-validatebox textbox" data-options="novalidate:true"></td>
			</tr>
			<tr>
				<td>会员级别:</td>
				<td>
					<input class="easyui-combobox" id="group_id" data-options="valueField:'id',textField:'name'">
				</td>
			</tr>
			<tr>
				<td>密码:</td>
				<td>
				<input id="transpassword" type="password" class="easyui-validatebox textbox" data-options="novalidate:true">
				<span id="transpassword_msg"></span>
				</td>
			</tr>
			<tr id="status">
				<td>是否正常:</td>
				<td>
				<input type="hidden" id="hstatus" value="Y" />
				<input type="radio" id="yes" name="status" value="Y" checked="checked"><span>正常</span>
				<input type="radio" id="no" name="status" value="N"><span>冻结</span>
				</td>
			</tr>
		</table>
	</div>
	<div id="dlg-buttons">
		<input type="hidden" id="id" value="0" />
		<a href="javascript:void(0)" class="easyui-linkbutton" id="btn_save">保存</a>
		<a href="javascript:void(0)" class="easyui-linkbutton" onclick="javascript:$('#dlg').dialog('close')">取消</a>
	</div>
<script type="text/javascript">
$(function(){
	$('#dlg').dialog('close');
	$('#dlg_undo').dialog('close');
	$('.validatebox-text').bind('blur', function(){
		$(this).validatebox('enableValidation').validatebox('validate');
	});
	$("#search").searchbox({
	    searcher: function (val, name) {
	        $('#dg').datagrid('options').queryParams.search = val;
	        $('#dg').datagrid('reload');
	    },
	    prompt: '输入会员帐号'
	});
	$("#btn_save").click(function(){
		var id = $("#id").val();
		var username = $("#username").val();
		var password = $("#password").val();
		var cpassword = $("#cpassword").val();
		var truname = $("#truname").val();
		var phone = $("#phone").val();
		var email = $("#email").val();
		var birth = $("#birth").val();
		var group_id = $("#group_id").combobox('getValue');
		var transpassword = $("#transpassword").val();
		var status = $("#hstatus").val();
		
		if(isEmptyVal(username)){
			message('请输入会员帐号','warning');
			return false;
		}
		if(id==0 && isEmptyVal(password)){
			message('请输入登录密码','warning');
			return false;
		}
		if(password!=cpassword){
			message('两次密码不一致','warning');
			return false;
		}
		if(isEmptyVal(truname)){
			message('请输入真实姓名','warning');
			return false;
		}
		if(isEmptyVal(phone)){
			message('请输入手机号码','warning');
			return false;
		}
		if(group_id<1){
			message('请选择会员级别','warning');
			return false;
		}
		if(id==0 && isEmptyVal(transpassword)){
			message("请输入支付密码",'warning');
			return false;
		}
		$.ajax({   
	        type: 'POST', 
	        url: '/ajax/user-list.html',   
	        data: {
	        	action:'save',
	        	id:id,
	        	username:username,
	        	password:password,
	        	cpassword:cpassword,
	        	truname:truname,
	        	phone:phone,
	        	email:email,
	        	birth:birth,
	        	group_id:group_id,
	        	transpassword:transpassword,
	        	status:status
	        },
	        dataType:'json',
	        beforeSend:function(){
	        	wait_open();
	        },		    
	        complete: function() {   
	        	wait_close();
	        },   
	        success: function(data){
				if(data.result==true){	
					message('保存成功','info');
					$('#dlg').dialog('close');
					$('#dg').datagrid('reload');
				}else {
					message(data.msg,'error');
			    }               
	        }   
		});
	});
	$("#btn_add").click(function(){
		$("#uid").val(0);
		$("#username").val("");
		$("#password").val("");
		$("#cpassword").val("");
		$("#truname").val("");
		$("#phone").val("");
		$("#email").val("");
		$("#birth").val("");
		$('#username').attr('disabled',false);
		$('#group_id').combobox('setValue',0);
		$("#transpassword").val("");
		$("#transpassword_msg").html("");
		$("#pass_msg").html("");
		$('#dlg').dialog('open');
	});
	$("#btn_edit").click(function(){
		if (editIndex == undefined)return false;
		var row = $("#dg").datagrid("getSelected");
		var id = row.id;
		$.ajax({   
	        type: 'POST', 
	        url: '/ajax/user-list.html',   
	        data: {action:'one',id:id},
	        dataType:'json',
	        beforeSend:function(){
	        	wait_open();
	        },		    
	        complete: function() {   
	        	wait_close();
	        },   
	        success: function(data){
				if(data.result==true){
					var data = data.data;
					$("#id").val(data.id);
					$("#username").val(data.username);
					$("#password").val("");
					$("#cpassword").val("");
					$("#truname").val(data.truname);
					$("#phone").val(data.phone);
					$("#email").val(data.email);
					$("#birth").val(data.birth);
					$('#group_id').combobox('setValue',data.group_id);
					$("#hstatus").val(data.status);
					$('#username').attr('disabled',true);
					$("#pass_msg").html("若不修改，留空");
					$("#transpassword_msg").html("若不修改，留空");
					if(data.status=='Y'){
						$('input[name=status]').get(0).checked = true;
					}else{
						$('input[name=status]').get(1).checked = true;
					}
					$('#dlg').dialog('open');
				}else {
				    message('获取数据失败','warning');
			    }               
	        }   
		});
	});
	$("#btn_remove").click(function(){
		if (editIndex == undefined)return false;
		var row = $("#dg").datagrid("getSelected");
		var id = row.id;
		var username = row.username;
		$.messager.confirm('删除确认', '是否确认删除帐号'+username+'?', function(r){
			if (r){
				$.ajax({   
			        type: 'POST', 
			        url: '/ajax/user-list.html',   
			        data: {action:'del',id:id},
			        dataType:'json',
			        beforeSend:function(){
			        	wait_open();
			        },		    
			        complete: function() {   
			        	wait_close();
			        },  
			        success: function(data){
			        	if(data.result==true){
			        		deleteRow();
			        		message('删除成功','info');
			        		$('#dg').datagrid('reload');
						}else {
						    message(data.msg,'warning');
					    }               
			        }   
				});
			}
			return false;
		});
	});
	$('#status input').click(function(){
		var v = $(this).val();
		$("#hstatus").val(v);
	});
	function loadgroup(){
		$('#group_id').combobox('reload', '/ajax/user-list.html?action=group');
	}
	loadgroup();
})
</script>
</body>
</html>