{{$header}}
<div class="banner" style="background:url({{$images}}pages/banner/8.png) center top;"></div>
<div class="pagesmain">
{{include file="message_center.html"}}
	<div class="w990">
		<div class="m">
		{{include file="member_left.html"}}
			<div class="mright">
            <div class="position">
                    <span>当前位置：</span><a href="javascript:;">基本资料&nbsp;/&nbsp;银行资料</a>
                        </div>
                        <div class="mjibencontenta">
                        <div class="guangbo">银行资料填写后将不可自行修改，为避免<span>无法提款</span>，请填写<span>真实信息</span>，更多问题请联系在线客服!</div>
<table width="640" border="0" cellspacing="0" cellpadding="0">
      <tbody>
      <tr>
        <td width="30"><font color="d92022">*</font></td>
        <td width="100">用&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;户:</td>
        <td align="left" width="360"><span>{{$username}}</span></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><font color="d92022">*</font></td>
        <td>持卡人姓名:</td>
        <td>{{$user.truname}}</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><font color="d92022">*</font></td>
        <td>开户银行:</td>
        <td>
        {{if $data.is_sel==1}}
        {{$data.bank.bank_name}}
        {{else}}
        	<select name="banktype_id" id="banktype_id" class="input-xlarge">
               <option value="0">请选择开户银行</option>
               {{foreach from=$data.user_bank_type key=k item=user_bank_type}}
               <option value="{{$user_bank_type.id}}">{{$user_bank_type.name}}({{$user_bank_type.intro}})</option>
               {{/foreach}}
            </select>
        {{/if}}
        </td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><font color="d92022">*</font></td>
        <td>银行账号:</td>
        <td>
        {{if $data.is_sel==1}}
        {{$data.bank.card}}
        {{else}}
        	<input type="text" name="card" id="card" value="" autocomplete="off">
        {{/if}}
        </td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><font color="d92022">*</font></td>
        <td>开户省份:</td>
        <td>
        {{if $data.is_sel==1}}
        {{$data.bank.province}}
        {{else}}
        	<select name="province" id="province" onchange="loadCity(this,'city');" class="input-xlarge"></select>
        {{/if}}
        </td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><font color="d92022">*</font></td>
        <td>开户城市:</td>
        <td>
        {{if $data.is_sel==1}}
        {{$data.bank.city}}
        {{else}}
        	<select name="city" id="city" class="input-xlarge"></select>
        {{/if}}
        </td>
        <td>&nbsp;</td>
      </tr>      
      <tr>
        <td><font color="d92022">*</font></td>
        <td>开户网点:</td>
        <td>
        {{if $data.is_sel==1}}
        {{$data.bank.address}}
        {{else}}
        	<input type="text" name="address" id="address" value="" autocomplete="off">
        {{/if}}
        </td>
        <td>&nbsp;</td>
      </tr>
       <tr style="line-height:25px">
      </tr>
    </tbody>
</table>
{{if $data.is_sel==0}}
<div style="height:3px;"></div>
<a href="javascript:basicBankSubmit();" style="margin-left: 130px;"><img src="{{$images}}member/mjibenbt.png"></a>
{{/if}}
</div>                
</div>
<script type="text/javascript" src="{{$js}}city.js"></script>
<script type="text/javascript">	          
$(document).ready(function(){
	switchM(3,"m_4_2");
	loadProvince('province');
});
</script>
{{$footer}}